{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Titulo de index</title>
        <img src="{% static "images/bigbox.png" %}" alt="logo" />
    </head>
    <body>
        <header class="header">
          <div class="container">
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
