{% extends "bigbox/base.html" %}
{% block title %}Detalle{% endblock %}
{% block content %}
	<h2>Vista de una box con sus detalles/información</h2>
	<br>
		<h3>Nombre: </h3> {{box.name}}
		<br>
		<h4>Categoría: </h4> {{box.category.name}}
		<br>
		<h4>Precio: </h4> {{box.price}}
		<br>
		<h4>¿De qué se trata?.. </h4> {{box.description}}
		<br>
		<h4>Estado: </h4>
		{% if box.purchase_available %}
				Disponible
		{% else %}
				No disponible
		{% endif %}
		<br>
	<h4>Actividades: </h4>
	{% with new_list=box.activities.all|slice:":5" %}
		{% for detail in new_list %}
		<ul>
			<h4>Actividad: {{detail.name}}</h4>
		</ul>
		{% endfor %}	
	{% endwith %}
	<a href={% url 'bigbox:box-activities' pk=box.pk%}>Todas las actividades</a>
	<br>
{% endblock %}
